<!DOCTYPE html>
<html lang="en">
<head>
  {% include '../partials/head.html' %}
</head>
<body>
  <div class="container">
    <div class="container__chatWindow">
      <div class="container__chatWindow__usersWindow">
        <form>
          <p><input class="container__chatWindow__usersWindow__input" stype="text" placeholder="Search.."></p>
        </form>
      </div>
      <div class="container__chatWindow__massageWindow">
        <div class="container__chatWindow__massageWindow__boardWindow">

        </div>
        <div class="container__chatWindow__massageWindow__inputWindow">
          <textarea type="text" class="container__chatWindow__massageWindow__inputWindow__textarea" placeholder="Type some masagge here.."></textarea>
          <button class="container__chatWindow__massageWindow__inputWindow__button"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfTqqZTpc-l-BI8Qyt0oinSnbbuZmt7FMb0N3CiaJcXntiyj3M&usqp=CAU" alt="sendIcon" class="sendIcon"></button>
        </div>
      </div>
    </div>
</div>
</body>
</html>