<!DOCTYPE html>
<html lang="en">

<head>
  {% include '../partials/head.html' %}
</head>

<body>
  <div class="wrapper">
    <div class="chat-window">
      <div class="users-sidebar">
        <div class="users-sidebar__input-box">
          <input class="users-sidebar__input" type="search" placeholder="Search..">
        </div>
        <div class="users-sidebar__users">
          <div class="users qw" id="Captain Jack Sparrow">
            <img class="users-image" src="images/sparrow.jpg" alt="">
            <span class="users-name">Captain Jack Sparrow</span>
          </div>
          <div class="users qw" id="Darth Vader">
            <img class="users-image" src="images/darthVader.png" alt="">
            <span class="users-name">Darth Vader</span>
          </div>
          <div class="users" id="Chandler Bing">
            <img class="users-image" src="images/chendler.png" alt="">
            <span class="users-name">Chandler Bing</span>
          </div>
          <div class="users qw" id="Chewbacca">
            <img class="users-image" src="images/chewbacca.png" alt="">
            <span class="users-name">Chewbacca</span>
          </div>
          <div class="users qw" id="Marshall Mathers">
            <img class="users-image" src="images/Eminem.png" alt="">
            <span class="users-name">Marshall Mathers</span>
          </div>
          <div class="users qw" id="I am Groot">
            <img class="users-image" src="images/groot.png" alt="">
            <span class="users-name">I am Groot</span>
          </div>
          <div class="users qw" id="Harry Potter">
            <img class="users-image" src="images/harryPotter.png" alt="">
            <span class="users-name">Harry Potter</span>
          </div>
          <div class="users qw">
            <img class="users-image" src="images/mrBean.ng.jpg" alt="">
            <span class="users-name">Mr. Bean</span>
          </div>
          <div class="users qw">
            <img class="users-image" src="images/hulk.png" alt="">
            <span class="users-name">Hulk</span>
          </div>
        </div>
      </div>
      <div class="massage-window">
        <div class="massage-window__border">
          <div class="massage-window__companion-container">
            <img class="massage-window__companion-image" src="images/darthVader.png" alt="">
            <div class="massage-window__companion-massage-container">
              <span class="massage-window__companion-massage-text">
                Come to the dark side we have cookies... and scissors</span>
            </div>
          </div>
          <div class="massage-window__I-am-container">
            <div class="massage-window__my-massage-container ">
              <span class="massage-window__my-massage-text">
                Guys, I'm with you</span>
            </div>
            <img class="massage-window__my-image" src="images/myImage.png" alt="">
          </div>
        </div>
        <div class="massage-window__entry-field">
          <textarea type="text" class="massage-window__textarea" placeholder="Type some masagge here.."></textarea>
          <button class="massage-window__button"><img src="images/sendIcon.png" alt="sendIcon"
              class="send-icon"></button>
        </div>
      </div>
    </div>
  </div>
  <script src="js/index.min.js"></script>
</body>

</html>


















<!-- <div class="container">
  <div class="container__chatWindow">
    <div class="container__chatWindow__usersWindow">
      <div>
        <input class="container__chatWindow__usersWindow__input" stype="text" placeholder="Search.."></input>
      </div>
    </div>
    <div class="container__chatWindow__massageWindow">
      <div class="container__chatWindow__massageWindow__boardWindow">

      </div>
      <div class="container__chatWindow__massageWindow__inputWindow">
        <textarea type="text" class="container__chatWindow__massageWindow__inputWindow__textarea" placeholder="Type some masagge here.."></textarea>
        <button class="container__chatWindow__massageWindow__inputWindow__button"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfTqqZTpc-l-BI8Qyt0oinSnbbuZmt7FMb0N3CiaJcXntiyj3M&usqp=CAU" alt="sendIcon" class="sendIcon"></button>
      </div>
    </div>
  </div> -->