html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

//=====================================================================//
::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.wrapper {
    height: 100vh;
    background-color: #DDA0DD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-window {
    background-color: #fff;
    width: 950px;
    height: 600px;
    border-radius: 10px;
    display: flex;
}

.users-sidebar {
    background-color: #F3F4F5;
    width: 300px;
    border: 1px solid;
    border-radius: 10px;
    border-right: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    justify-content: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__input-box {
        width: 100%;
        margin-bottom: 17px;
    }

    &__input {
        background-color: #fff;
        width: 100%;
        border-radius: 5px;
        font-size: 14px;
        padding: 6px;
        background: url(../images/searchIcon.png) no-repeat;
        background-position: 2% 50%;
        background-size: 15px 15px;
        padding-left: 25px;
    }
}

.users-sidebar__users {
    overflow: auto;
    padding-right: 5px;
}

// .users-sidebar__users:hover {
//     background: #1E90FF;
//     color: #fff;
// }

.users {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 5px;
    margin-top: 10px;
    &:hover {
        background: #1E90FF;
        color: #fff;
    }
}

.users-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 6px;
}

.users-name {
    font-size: 18px;
}

.massage-window {
    width: 650px;
    border: 1px solid;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

    &__border {
        height: 508px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
        overflow: auto;
    }

    &__entry-field {
        height: 90px;
        display: flex;
        align-items: center;
        border-top: 1px solid;
    }

    &__textarea {
        border-radius: 5px;
        width: 100%;
        margin-left: 15px;
        padding: 15px 0px 5px 10px;
        font-size: 14px;
        resize: none;
    }

    &__button {
        width: 56px;
        height: 56px;
        margin: 15px;
        padding-top: 5px;
        border: none;
        background-color: #fff;
    }
    
    &__I-am-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__my-massage-container {
        width: 100%;
        background-color: #5369FC;
        color: white;
        min-height: 65px;
        padding: 8px;
        border-radius: 5px;
        margin-left: 85px;
        // position: relative;
    }

    &__my-image{
        width: 65px;
        height: 65px;
        border-radius: 6px;
        margin-left: 20px;    
    }

    &__companion-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 85px;
        margin-bottom: 15px;
    }

    &__companion-massage-container {
        width: 100%;
        background-color: #5369FC;
        color: white;
        height: 65px;
        padding: 8px;
        border-radius: 5px;
    }

    &__companion-image{
        width: 65px;
        height: 65px;
        border-radius: 6px;
        margin-right: 20px;
    }
}

// .arrow-right {
//     width: 0; 
//     height: 0; 
//     border-top: 60px solid transparent;
//     border-bottom: 60px solid transparent;
    
//     border-left: 60px solid green;

   // position: absolute;
    // top: 0;
    // bottom: 0;
    // margin: 0;
//   }
.massage-window__my-massage-container:after {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #5369fc;
    right: 75px;
    position: absolute;
    bottom: 22px;
  }